@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500;800&family=Lato:wght@400;800&family=Space+Mono&display=swap');

$font-family-sans-serif: 'Lato', sans-serif;
$font-family-serif: 'Arima Madurai', serif;
$font-family-monospace: 'Space Mono', serif;
$headings-font-family: $font-family-serif;
$input-btn-font-family: $font-family-monospace;