@import url('https://fonts.googleapis.com/css2?family=Karla&family=Playfair+Display&family=JetBrains+Mono&display=swap');

$font-family-sans-serif: 'Karla', sans-serif;
$font-family-serif: 'Playfair Display', serif;
$font-family-monospace: 'JetBrains Mono', serif;
$headings-font-family: $font-family-serif;

$primary: #fc4f4f; // TODO: https://getbootstrap.com/docs/5.0/customize/sass/#importing

@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';

// @each $display, $font-size in $display-font-sizes {
//   .display-#{$display} {
//     font-family: $font-family-serif;
//   }
// }

.font-display {
  font-family: $font-family-serif;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 0.75rem;
}
